@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Prompt', sans-serif;
}

.esri-widget--button {
  border-radius: 10px;
}
.esri-ui .esri-component {
  border-radius: 10px;
}

.sassy-theme .esri-widget,
.sassy-theme .esri-widget--button,
.sassy-theme .esri-menu,
.sassy-theme .esri-popup__header-title,
.sassy-theme .esri-popup__main-container,
.sassy-theme .esri-popup .esri-popup__pointer-direction,
.sassy-theme .esri-popup .esri-popup__button,
.sassy-theme .esri-button,
.sassy-theme .esri-input,
.sassy-theme .esri-widget a {
  background-color: #81933d;
  color: #fff;
  font-family: 'Prompt', sans-serif;
}

.sassy-theme .esri-widget--button:focus,
.sassy-theme .esri-widget--button:hover,
.sassy-theme .esri-menu li:focus,
.sassy-theme .esri-menu li:hover {
  background-color: #81933d;
  color: #fff;
}

.sassy-theme .esri-button:focus,
.sassy-theme .esri-button:hover {
  color: #fff;
}

.sassy-theme .esri-search__input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.sassy-theme .esri-search__input:-ms-input-placeholder {
  color: #ccc;
}
.sassy-theme .esri-search__input::-webkit-input-placeholder {
  color: #ccc;
}